{% load static %}
{% load store_extras %}

{% with product.price|currency as s_price %}
{% if layout_type == 1 %}
<div class="card card-product-grid">
  <a href="{{  product.get_url  }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
  <figcaption class="info-wrap">
    <a href="{{  product.get_url  }}" class="title">{{ product.product_name }}</a>
    <div class="price mt-1">{{  s_price }}</div> <!-- price-wrap.// -->
  </figcaption>
</div>

{% elif layout_type == 2 %}
<figure class="card card-product-grid">
  <div class="img-wrap"> 
    
    <img src="{{ product.images.url }}">
    
  </div> <!-- img-wrap.// -->
  <figcaption class="info-wrap">
    <div class="fix-height">
      <a href="{{  product.get_url  }}" class="title">{{ product.product_name }}</a>
      <div class="price-wrap mt-2">
        <span class="price">{{ s_price }}</span>
      </div> <!-- price-wrap.// -->
    </div>
    <form action="{% url 'cart' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="product_id" value="{{ product.id }}">
      <button class="btn btn-block btn-primary">Add to cart</button>
    </form>
    
  </figcaption>
</figure>

{% endif %}

{% endwith %}
